{block overview-headline}TESTOVANI SWIPERU - PO VYVOJI ODSTRANIT{/block}
{block overview}
    <h2>{include overview-headline}</h2>
    <p style="color:red">
        TESTOVANI SWIPERU - PO VYVOJI ODSTRANIT
    </p>
{/block}

{block swipertest-headline}<span style="color:red">TESTOVANI SWIPERU - PO VYVOJI ODSTRANIT</span>{/block}
{block swipertest}
    <h2>{include swipertest-headline}</h2>
    <p style="color:red">
        TESTOVANI SWIPERU - PO VYVOJI ODSTRANIT
    </p>
    <p class="p-bold" style="color:red">
        TESTOVANI SWIPERU - PO VYVOJI ODSTRANIT
    </p>
{/block}
