{block pressname}24U announces 24U Phidgets Remote for iPhone,&#8232;iPad, and iPod touch{/block}
{block presssubtitle}The first iPhone/iPad app to let your iPhone or iPad interact with Phidgets to touch the physical world around{/block}
{block presstagline}<p><b>Prague, CZ -- {$releaseDate = "2015/11/06"|genericFormatDate}</b></p>{/block}
{block presscontent}
<p>The first iPhone/iPad app to let your iPhone or iPad interact with Phidgets to touch the physical world around</p><p><b>Prague, CZ -- {$releaseDate = "2015/11/06"|genericFormatDate}</b></p>

<p>24U Software announces free download availability of a new mobile application for iPhone, iPad, and iPod touch that allows for controlling and monitoring Phidgets devices connected to the network with the help of various control layouts.</p>

<p>24U Phidgets Remote can manage electrical devices available on the network, get data from thermometers, pH sensors, light sensors, etc., read and write RFID tags using iPhone or iPad even if user is far away from the phidget. Connection to a phidget is possible via LAN, or even via VPN.</p>

<p><b>With 24U Phidgets Remote user can:</b></p>

<ul>
<li>switch and control electrical devices simply by a tap</li>
<li>read values from distant environmental sensors on the go</li>
<li>use iPhone or iPad to read and write RFID tags</li>
<li>rotate servo motors by swiping finger across iPhone's display</li>
</ul>

<p>With some flavor of <a href="http://www.phidgets.com/products.php?category=0" target="blank">PhidgetInterfaceKit</a> user's iPhone or iPad can switch signals, <a href="http://www.phidgets.com/products.php?category=9" target="blank">turn electrical devices on or off</a>, whether it's at home, in user's office, or in the opposite corner of the same room.</p>

<p>24U Phidgets Remote makes iPhone or iPad read values from <a href="http://www.phidgets.com/products.php?category=35" target="blank">thermometers</a>, <a href="http://www.phidgets.com/products.php?category=36" target="blank">pH sensors</a>, <a href="http://www.phidgets.com/products.php?category=6" target="blank">light sensors</a>, or any other <a href="http://www.phidgets.com/products.php?category=1" target="blank">environmental sensors</a> connected to <a href="http://www.phidgets.com/products.php?category=0" target="blank">Phidgets I/O boards</a> on the network, and also supports the <a href="http://www.phidgets.com/products.php?product_id=1061" target="_blank">PhidgetAdvancedServo</a> controller, so it can remotely control servo motors.</p>

<p>24U also offers development of custom control layouts. If user need to control a phidget or set of phidgets for which the currently available layouts are not sufficient, 24U can craft a custom layout with a set of controls specific to his setup.</p>

<p><b>How 24U Phidgets Remote works</b></p>

<p>Phidgets are a system of low-cost electronic components and sensors designed and produced by <a href="http://www.phidgets.com/" target="blank">Phidgets Inc.</a>, that are usually controlled by a personal computer. The app lets user interact with these devices directly from an iPhone, iPad or iPod touch.</p>

<p>To access Phidgets boards using 24U Phidgets Remote user need to connect them either to the <a href="http://www.phidgets.com/products.php?category=21" target="blank">Phidgets SBC</a>, or to a computer with the <a href="http://www.phidgets.com/docs/Phidget_WebService" target="blank">Phidget WebService</a> installed.</p>

<p><b>Availability and Pricing</b></p>

<p>24U Phidgets Remote is available as a free download from the App Store: <a href="/buyphr" target="blank">http://www.24usoftware.com/buyphr</a></p>

<p>The app comes with a free support for the <a href="http://www.phidgets.com/products.php?category=0&product_id=1018_2" target="blank">PhidgetInterfaceKit 8/8/8</a> board, optional add-on control layouts for other boards are available via in-app purchase.</p>

<p>More info about 24U Phidgets Remote at: <a href="/phidgetsremote/" target="blank">http://www.24usoftware.com/phidgetsremote/</a></p>

<p>More info about Phidgets at: <a href="http://www.phidgets.com/" target="blank">http://www.phidgets.com/</a></p>

<p><b>Requirements and Compatibility</b></p>

<p>24U Phidgets Remote is compatible with iPhone, iPad and iPod touch, and requires iOS 7 or later. The app is optimized for iPad 2 and newer (both orientations), iPhone 4 and newer (portrait orientation).</p>

<p>24U Phidgets Remote supports the <a href="http://www.phidgets.com/products.php?category=0&product_id=1018_2" target="blank">PhidgetInterfaceKit 8/8/8</a> out of the box, layouts for all boards in <a href="http://www.phidgets.com/products.php?product_id=2003" target="blank">Phidget Starter Kit&nbsp;#1</a> and other Phidgets boards can be obtained via in-app purchase.</p>

<p>24U Phidgets Remote is only compatible with supported boards from Phidgets, Inc., not with similarly looking devices from other vendors. Check <a href="http://www.phidgets.com" target="blank">http://www.phidgets.com</a> for available hardware. Support for not-yet-supported boards can be ordered from 24U as a custom addition or added to the app by 24U if the demand is popular.</p>

<p><b>About 24U Software</b></p>

<p><b>24U Software offers solutions for people, not for computers!</b><br />Since 2000 24U Software has been committed to production of easy to use software that makes working and developing with FileMaker Pro and AppleScript faster, simpler and cheaper. ISO 9001:2008 certified for design, development, customization and implementation of software.</p>

<p><b>Customer contact:</b><br>
HOnza Koudelka<br>
Software Division Manager, 24U s.r.o.<br>
sales&commat;24usoftware.com<br>
<a href="/">https://www.24usoftware.com</a></p>

<p><b>Press Contact:</b><br>
pr&commat;24uSoftware.com</p>

<p>###</p>

<p>&copy;2015 24U s.r.o. All rights reserved. 24U and 24U Software are trademarks of 24U s.r.o.<br />FileMaker is a trademark of FileMaker, Inc., registered in the U.S. and other countries.<br />All other trademarks are the property of their respective owners. Pricing and availability are subject to change without notice.</p>

{/block}