
{block no_results}
    <p>Vašemu hledání neodpovídají žádné výsledky</p>
    <ul>
        <li>Ujistěte se, že v zadaném textu nemáte překlepy</li>
        <li>Zkuste jiná klíčová slova</li>
        <li>Zkuste obecnější výrazy</li>
        <li>Zkuste zadat méně slov</li>
    </ul>
{/block}




