{block title}Breedbook{/block}

{block content}

<section class="cover-sticky" id="fixedCover"data-image-position-horizontal="15">
    <div class="container">
        <div class="row row-align-middle">
            <div class="gr-12">
                <div class="title"></div>
            </div>
        </div>
    </div>
</section>

<section class="cover default" style="background-image: url('{$basePath}/img/pages/product-pages/breedbook/breedbook_header.jpg')">
    <div class="inner-background cover-parallax" style="background-image: url('{$basePath}/img/pages/product-pages/breedbook/breedbook_header.jpg')"></div>
    <div class="container">
        <div class="row row-align-middle">
            <div class="gr-6 gr-9@desktop gr-12@mobile cover-parallax-inner">
                <h1 class="page-title">
                    <strong>Breedbook</strong>
                    <div class="description">
                        Animal Breeding <br/> With Quality Data
                    </div>
                </h1>
            </div>
        </div>
    </div>
</section>

<section class="arrow blue spacing detail">
    <div class="container">
        <div class="row row-align-middle">
            <div class="editor-content gr-7 gr-6@tablet gr-12@mobile text-left text-left@mobile-center">
                <h2>
                    Breedbook Overview
                </h2>
                <p>Digital breedbook app, integrated with breeding records and barn registry, will save your time and money, simplify subsidy applications, and help you to breed highly efficient
                    breeding animals.</p>
            </div>
            <div class="order-last order-first@mobile prefix-1 prefix-0@mobile gr-4 gr-12@mobile text-right text-right@mobile-center">
                <a href="{$basePath}/img/pages/product-pages/breedbook/breedbook-collage.png" target="_blank">
                    <img src="{$basePath}/img/pages/product-pages/breedbook/breedbook-collage-660.png" class="limited-height-350 mb-1@mobile" alt="Breedbook">
                </a>
            </div>
        </div>
    </div>
</section>

<section class="arrow spacing detail light-blue">
    <div class="container">
        <div class="row row-align-middle">
            <div class="editor-content order-first order-last@mobile gr-8 gr-12@mobile text-left text-left@mobile-center">
                <h2>
                    Breed Management
                </h2>
                <p>
                    As an organization appointed by government to be responsible for managing breeding records for a specific breed, Breedbook gives you all the tools to manage the records as
                    required:
                </p>
                <ul>
                    <li>Access to data of the whole breed population</li>
                    <li>Breeders registry
                        <ul>
                            <li>Document generation</li>
                            <li>Certificate of origin</li>
                            <li>Zootechnical certifficate</li>
                            <li>Origin verification application</li>
                            <li>Genotype examination application</li>
                            <li>Inventory reports</li>
                            <li>Directory of breeders and animals</li>
                            <li> Market catalogs</li>
                            <li>and more…</li>
                        </ul>
                    </li>
                    <li>Performance check records</li>
                    <li>Statistical reports</li>
                    <li>Cost-effective data collection</li>
                    <li>Simplified subsidy processing</li>
                </ul>

                <p>
                    The software complies with the amended Act. 154/2000 Coll. and Regulation (EU) 2016/1012 of the European Parliament and of the Council and the valid Breeding Program.
                </p>
            </div>
            <div class="order-last order-first@mobile prefix-1 prefix-0@mobile gr-3 gr-12@mobile text-left text-left@mobile-center">
                <a href="{$basePath}/img/pages/product-pages/breedbook/breedbook-spravce-kniha.png" target="_blank">
                    <img src="{$basePath}/img/pages/product-pages/breedbook/breedbook-spravce-kniha-660.png" class="limited-height-350 mb-1@mobile" alt="Breed Management">
                </a>
                <a href="{$basePath}/img/pages/product-pages/breedbook/breedbook-spravce-chovatele.png" target="_blank">
                    <img src="{$basePath}/img/pages/product-pages/breedbook/breedbook-spravce-chovatele-660.png" class="limited-height-350 mb-1@mobile" alt="Breed Management">
                </a>
            </div>
        </div>
    </div>
</section>

<section class="arrow  spacing detail">
    <div class="container">
        <div class="row row-align-middle">
            <div class="gr-3 gr-12@mobile text-left text-left@mobile-center">
                <a href="{$basePath}/img/pages/product-pages/breedbook/breedbook-slechtitel-ku.png" target="_blank">
                    <img src="{$basePath}/img/pages/product-pages/breedbook/breedbook-slechtitel-ku-660.png" class="limited-height-350 mb-1@mobile" alt="Breeding Advisory">
                </a>
                <a href="{$basePath}/img/pages/product-pages/breedbook/breedbook-slechtitel-rodokmen.png" target="_blank">
                    <img src="{$basePath}/img/pages/product-pages/breedbook/breedbook-slechtitel-rodokmen-660.png" class="limited-height-350 mb-1@mobile" alt="Breeding Advisory">
                </a>
            </div>
            <div class="editor-content prefix-1 prefix-0@mobile gr-8 gr-12@mobile text-left text-left@mobile-center">
                <h2>
                    Breeding Advisory
                </h2>
                <p>
                    For breeding advisors, the app provides an efficient way to work with data to advise on the best breeding animals pairing for producing high quality utility animals:
                </p>
                <ul>
                    <li>Online access to breeders registry</li>
                    <li>Online entry of performance check results</li>
                    <li>Inventory reports</li>
                    <li>Report of animals origins and movement</li>
                    <li>Zootechnical certificates</li>
                    <li>Certificate of origin</li>
                    <li>Breeding animal identification assignement</li>
                    <li>Pairing plan preparation</li>
                    <li>Efficient work and travel management</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="arrow spacing detail light-blue ">
    <div class="container">
        <div class="row row-align-middle">
            <div class="editor-content order-first order-last@mobile gr-8 gr-12@mobile text-left text-left@mobile-center">
                <h2>
                    Tools for Breeders
                </h2>
                <p>
                    Breedbook has an easy to use interface for individual breeders, helping them to easily exchange information with breeding advisors and breed manager:
                </p>
                <ul>
                    <li>Animals registry</li>
                    <li>Detailed breeding records</li>
                    <li>Reproduction records</li>
                    <li>Statistical reports</li>
                    <li>Animal origin records</li>
                    <li>Performance check results</li>
                    <li>Daily updated utility index</li>
                    <li>Access to breed population info</li>
                    <li>Market catalogs creation</li>
                    <li>Multi-lingual interface (can add any left-to-right language)</li>
                </ul>
            </div>
            <div class="order-last order-first@mobile prefix-1 prefix-0@mobile gr-3 gr-12@mobile text-left text-left@mobile-center">
                <a href="{$basePath}/img/pages/product-pages/breedbook/breedbook-chovatel-prirustky.png" target="_blank">

                    <img src="{$basePath}/img/pages/product-pages/breedbook/breedbook-chovatel-prirustky-660.png" class="limited-height-350 mb-1@mobile" alt="Tools for Breeders">
                </a>
            </div>
        </div>
    </div>
</section>

<section class="arrow spacing detail">
    <div class="container">
        <div class="row row-align-middle">
            <div class="gr-3 gr-12@mobile text-left text-left@mobile-center">
                <a href="{$basePath}/img/pages/product-pages/breedbook/breedbook-dotace.png" target="_blank">
                    <img src="{$basePath}/img/pages/product-pages/breedbook/breedbook-dotace-660.png" class="limited-height-350 mb-1@mobile" alt="Subsidy Processing">
                </a>
            </div>
            <div class="editor-content prefix-1 prefix-0@mobile gr-8 gr-12@mobile text-left text-left@mobile-center">
                <h2>
                    Subsidy Processing
                </h2>
                <p>
                    For breeders eligible for applying for agricultural subsidies, Breedbook offers an efficient way to prepare all information necessary for subsidy application, which the breed
                    manager can easily use to generate group subsidy application and manage subsidy processing:
                </p>
                <ul>
                    <li>Automated generation of source data</li>
                    <li>Automated subsidy calculation</li>
                    <li>Applicants list generation</li>
                    <li>Application documents generation</li>
                    <li>Generation of decree notifications</li>
                    <li>Mass payment requests for subsidy distribution</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="arrow  spacing detail light-blue ">
    <div class="container">
        <div class="row row-align-middle">
            <div class="editor-content order-first order-last@mobile gr-8 gr-12@mobile text-left text-left@mobile-center">
                <h2>
                    Yearbooks
                </h2>
                <p>
                    Breedbook helps you as a breed manager, to generate periodic breeding results reports for official publication.
                </p>
                <ul>
                    <li>Automated generation of mandatory public reports</li>
                    <li>Data reports can be easily generated in arbitrary intervals</li>
                    <li>Easy and cost-effective publication of results</li>
                </ul>
            </div>
            <div class="order-last order-first@mobile prefix-1 prefix-0@mobile gr-3 gr-12@mobile text-left text-left@mobile-center">
                <a href="{$basePath}/img/pages/product-pages/breedbook/breedbook-rocenka.png" target="_blank">
                    <img src="{$basePath}/img/pages/product-pages/breedbook/breedbook-rocenka-660.png" class="limited-height-200 mb-1@mobile" alt="Yearbooks">
                </a>
            </div>
        </div>
    </div>
</section>

<section class="arrow spacing detail">
    <div class="container">
        <div class="row row-align-middle">
            <div class="gr-3 gr-12@mobile text-left text-left@mobile-center">
                <img src="{$basePath}/img/pages/product-pages/breedbook/breedbook-eid-660.png" class="limited-height-250 mb-1@mobile" alt="Electronic Identification (EID)">
            </div>
            <div class="editor-content prefix-1 prefix-0@mobile gr-8 gr-12@mobile text-left text-left@mobile-center">
                <h2>
                    Electronic Identification (EID)
                </h2>
                <p>
                    Breedbook has a built-in support for EID tags to make recording and finding information easier and less time consuming:
                </p>
                <ul>
                    <li>Seamless integration of EID scanner</li>
                    <li>Automated entry of EID tag number</li>
                    <li>Automated lookup of animal by scanning its EID tag</li>
                    <li>Functional on both desktop computer and tablet or smartphone</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="arrow  spacing detail light-blue ">
    <div class="container">
        <div class="row row-align-middle">
            <div class="editor-content order-first order-last@mobile gr-12 gr-12@mobile text-left text-left@mobile-center">
                <h2>
                    License Inquiry
                </h2>
                <p>
                    If you are a breed manager, breeding advisor or breeder interested in licensing this application, please contact us to discuss your specific needs and available options.
                </p>
            </div>
        </div>
    </div>
</section>

{snippet contactForm}
    {include '../Components/contact-form-blue.latte', headline => 'false', description => 'false'}
{/snippet}