body[data-template="productpages"] {

  .page-title {
    font-size: 1.714em;
    color: $colorBlue;

    &.large {
      font-size: 2.143em;
      font-weight: $fwLight;
      line-height: $lineHeightExtended;

      @include g-state(mobile) {
        font-size: 1.5em;
      }

      strong {
        font-weight: $fwNormal;
      }
    }
  }

  .before-arrow {
    padding-bottom: 3em;

    @include g-state(tablet) {
      padding-bottom: (3em * $scaleRatioTablet);
    }

    @include g-state(mobile) {
      padding-bottom: (3em * $scaleRatioMobile);
    }
  }

  .content {
    margin-left: 13.5%;

    @include g-state(desktop) {
      margin-left: 12%;
    }

    @include g-state(tablet) {
      margin-left: 11%;
    }

    @include g-state(mobile) {
      margin-left: 0;
    }
  }

  p {
    &.limited {
      @include g-state(mobile) {
        max-width: 21em;
        margin: 0 auto 1em;
      }
    }
  }

  section {
    color: $colorBlue;
    background-color: $colorWhite;
    &.ledcontroller-sticky{
      background-position-y: 27%;
    }

    &.cover {
      .ledcontroller-parallax{
        @include g-state(mobile) {
          background-position-x: 75%;
        }
      }
      &.sticky {
        padding: 0;
      }
    }

    &.spacing {
      padding: 4em 0;

      @include g-state(tablet) {
        padding: (4em * $scaleRatioTablet) 0;
      }

      @include g-state(mobile) {
        padding: (4em * $scaleRatioMobile) 0;
      }

      &.detail {
        padding: 3em 0 5em;

        @include g-state(tablet) {
          padding: (3em * $scaleRatioTablet) 0 (5em * $scaleRatioTablet);
        }

        @include g-state(mobile) {
          padding: (3em * $scaleRatioMobile) 0 (5em * $scaleRatioMobile);
        }
      }
    }

    &.blue {
      background-color: $colorBlue;
      padding: 3em 0;

      @include g-state(tablet) {
        padding: (3em * $scaleRatioTablet) 0;
      }

      @include g-state(mobile) {
        padding: (3em * $scaleRatioMobile) 0;
      }

      h2,
      ul,
      p {
        color: $colorWhite;
      }
    }

    &.light-blue {
      background-color: $colorLightBlue4;

      &.no-margin {
        margin-top: 0;
      }
    }

    .border-right {
      border-right: 2px solid $colorLightBlue4;
    }

    &.tools-items {
      background-color: $colorWhite;
      color: $colorBlue;
      font-weight: $fwNormal;
      text-align: center;

      &.light-blue {
        background-color: $colorLightBlue4;

        .item {
          &.divider {
            border-color: $colorWhite;
          }
        }
      }

      .item {
        padding: 5em 3em;
        margin: 0;
        text-align: center;
        position: relative;
        height: 100%;

        &.spacing-for-arrow {
          padding: 5em 3em 1em;

          @include g-state(tablet) {
            padding: (5em * $scaleRatioTablet) (3em * $scaleRatioTablet) (1em * $scaleRatioTablet);
          }

          @include g-state(mobile) {
            padding: (5em * $scaleRatioMobile) (3em * $scaleRatioMobile) (1em * $scaleRatioMobile);
          }
        }

        @include g-state(tablet) {
          padding: (5em * $scaleRatioTablet) (3em * $scaleRatioTablet);
        }

        @include g-state(mobile) {
          padding: (5em * $scaleRatioMobile) (3em * $scaleRatioMobile);
        }

        &.divider {
          border-right: 1px solid $colorLightBlue4;
          border-left: 1px solid $colorLightBlue4;

          @include g-state(mobile) {
            border: 0;
          }

          &.first {
            border-left: 0;
          }

          &.last {
            border-right: 0;
          }
        }

        .overlay {
          @include transition($hoverAnimationDuration all ease-in-out);
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: $colorOrange;
          background-size: cover;
          background-position: 0 -400px;
          background-repeat: no-repeat;
          z-index: -1;
        }

        &:hover {
          .overlay {
            background-position: 0 0;
          }
        }

        h2 {
          font-size: 1.714em;
        }

        p {
          max-width: 21em;
          margin: 0 auto;
          margin-bottom: 1em;
        }
      }
    }

    /*a {
      text-decoration: none;
    }*/

    ul.features {
      list-style-type: disc;
      margin-left: 1.5em;

      li {
        margin-bottom: 1em;

        &:last-of-type {
          margin-bottom: 0;
        }

        strong {
          font-weight: $fwBold;
        }
      }
    }

    .headline {
      font-size: 2.143em;

      img {
        max-height: 180px;
      }

      .button {
        margin-bottom: 0;
      }
    }

    img {
      max-width: 100%;

      &.limited-height-130 {
        max-height: 130px;
      }

      &.limited-height-200 {
        max-height: 200px;
      }

      &.limited-height-250 {
        max-height: 250px;
      }

      &.limited-height-300 {
        max-height: 300px;
      }

      &.limited-height-350 {
        max-height: 350px;
      }

      &.limited-height-400 {
        max-height: 400px;
      }

      &.limited-height-450 {
        max-height: 450px;
      }
    }
  }
  section {
    &.contact {
      padding: 3em 0 5em;
      color: $colorBlue;

      @include g-state(tablet) {
        padding: (3em * $scaleRatioTablet) 0 (5em * $scaleRatioTablet);
      }
      @include g-state(mobile) {
        padding: (3em * $scaleRatioMobile) 0 (5em * $scaleRatioMobile);
      }

      &.contact {
        background-color: $colorWhite;
        padding: 3em 0 7em;
        color: $colorBlue;
        .box {
          padding: 0;

          &.divider {
            border-color: $colorBlue;

            &.first {
              @include g-state(tablet mobile) {
                padding-bottom: 2em;
              }
            }

            &.last {
              @include g-state(tablet mobile) {
                padding-top: 2em;
              }
            }
          }

          form {
            margin-bottom: 0;

            input[type="text"],
            input[type="email"],
            input[type="tel"],
            input[type="number"],
            input[type="search"],
            input[type="time"],
            textarea {
              background-color: $colorLightBlue4;
              color: $colorBlue;
              max-width: 100%;
              @include input-placeholder {
                color: rgba($colorBlue, .6);
              }
            }

            input[type="checkbox"] {
              margin-top: .6em;
              margin-right: .6em;
            }

            a {
              color: $colorBlue;

              &:hover {
                color: $colorBlueHover;
              }
            }
            select {
              font-weight: $fwNormal;
            }
            .select-container {
              position: relative;

              .open-arrow {
                position: absolute;
                top: 0;
                right: 0;
                width: 2em;
                height: 100%;
                background-color: $colorLightBlue5;
                pointer-events: none;

                &:after {
                  @include transform(translate(-50%, -50%));
                  top: 50%;
                  left: 50%;
                  content: '';
                  width: 0;
                  height: 0;
                  border-left: 5px solid transparent;
                  border-right: 5px solid transparent;
                  border-top: 5px solid $colorWhite;
                  position: absolute;
                  pointer-events: none;
                }
              }
            }

            textarea {
              min-height: 150px;
            }

            .button {
              background-color: rgba($colorBlue, .5);
              margin-bottom: 0;

              &:hover {
                background-color: rgba($colorBlue, .8);
              }
            }
          }
        }
      }

      p {
        &.large {
          font-size: 1.429em;
        }
      }

      span.large {
        font-size: 1.714em;
        display: block;
      }

      .column {
        @include box-sizing(border-box);
        text-align: center;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0 5em;

        @include g-state(tablet mobile) {
          padding: 0;
        }

        a:not([href^="tel:"]) {
          font-weight: $fwBold;
        }

        &.divider {
          border-right: 1px solid $colorBlue;
          border-left: 1px solid $colorBlue;

          @include g-state(mobile) {
            border: 0;
          }

          &.first {
            border-left: 0;
          }

          &.last {
            border-right: 0;
          }
        }

        form {
          max-width: 400px;
          margin: 0 auto;

          @include g-state(tablet) {
            margin: 0 3.5em 0 0;
          }

          label {
            margin-bottom: 1em;
          }

          .input-container {
            position: relative;

            input[type="tel"] {
              background-color: $colorWhite;
              font-size: 1.286em;
              text-align: center;
              margin: 0;

              @include input-placeholder {
                font-size: 1em;
                color: $colorLightBlue;
              }
            }

            label:not(.error) {
              input[type="tel"] {
                @include box-shadow(inset 0px 0px 0px $inputBorderWidth $colorLightBlue); // shadow + border
              }
            }

            .error-text {
              text-align: center;
            }
          }

          .button {
            width: 100%;
            text-transform: uppercase;
            font-size: 1.286em;
            background-color: $colorLightBlue;

            &:hover {
              background-color: darken($colorLightBlue, 10);
            }
          }
        }
      }
    }
  }
}