body[data-template="termsofuse"] {
  .terms-of-use {
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: $colorWhite;
    font-weight: $fwLight;
  }
  .cryptedmail:after {
    content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
  }
}